<div class="contain-body">
  <div class="container">
    <div class="row row-nu">
      <div class="container" *ngIf="!(auth.isLoggedIn() | async)">
        <div class="info-basic">
          <h4 class="welcome">Bienvenido</h4>
          <p class="int-bainf">Por favor ingrese sus datos básicos.</p>
        </div>
        <div>
          <form class="col s12 contain-signin" [formGroup]="signin" (ngSubmit)="onSubmit()">
            <button id="menu-button" routerLink="/login"><i class="material-icons">cancel</i><br>Cancelar</button>
            <div class="row center">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">assignment</i>
                <input formControlName="document_u" type="text" class="validate" required />
                <label for="document_u">Documento</label>
              </div>
            </div>
            <div class="row center">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">alternate_email</i>
                <input formControlName="email_inst" type="email" class="validate" required />
                <label for="email_u">Correo Institucional</label>
              </div>
            </div>
            <div class="row center">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">lock</i>
                <input formControlName="password_u" type="password" class="validate" required />
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row center">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">lock</i>
                <input formControlName="password_c" type="password" class="validate" required />
                <label for="password_c">Confirmar Contraseña</label>
              </div>
            </div>
            <div class="center-align">
              <button class="waves-effect waves-light btn gray-sac" type="submit" [disabled]="signin.invalid">
                Guardar
              </button>
              <button class="waves-effect waves-light btn orange-sac" type="submit" [disabled]="signin.invalid"
                (click)="editProfile()">
                Completar Perfil
              </button>
            </div>
          
          </form>

        </div>
      </div>
    </div>
  </div>
</div>