<div class="body-cont">
    <div class="container">
        <div class="row row-no">
            <div class="contain-home" *ngIf="auth.isLoggedIn() | async">
                <div class="col s12 buscador">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-sac">textsms</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Autocomplete</label>
                        </div>
                    </div>
                </div>
                <div class="cajon2 ">
                    <button class="menu-button-doc btn waves-effect waves-light orange-sac" (click)="findActs()">Buscar</button>
                    <button class="menu-button-doc btn waves-effect waves-light orange-sac">Crear Acta</button>
                </div>
            </div>
            <div class="cajon3">
                <table *ngIf="table_state">
                    <tr>
                        <th class="center-r" *ngFor="let column of header_list">
                            {{column}}
                        </th>
                    </tr>
                    <tr *ngFor="let doc of rows; index as i">
                        <td class="center-r">{{i}}</td>
                        <td class="center-r">{{doc["_id"]}}</td>
                        <td class="center-r">{{doc["document_u"]}}</td>
                        <td class="center-r">contenido</td>
                        <td class="center-r"><button
                                class="menu-button-editor btn waves-effect waves-light orange-sac"
                                (click)="actBy(doc)">Editar</button>
                        <td></td>
                </table>
            </div>
        </div>
    </div>
</div>