.body-cont {
    background-color: #e3e6eb;
}
.row-no {
    margin: 0;
}
.contain-signin {
    padding: 1% 0 2% 0;
    margin: 0;
}

.center {
    padding: 0 0 0 30%;
}

.blue-sac {
    color: #001935;
}

.orange-sac {
    background-color: #fc7323;
    font-weight: bold;
}

.gray-sac {
    background-color: #e3e6eb;
    color: #000;
    font-weight: bold;
}

.info-basic {
    border: 1px solid black;
    padding: 1% 2% 1% 2%;
    background-color: #e3e6eb;
    border-radius: 3px;
    margin: 0 0 0.5% 0;
}

.welcome {
    font-weight: 900;
}

.second-contain {
    /* Falta concluir el contenedor primario del signin basico */
    border: 1px solid black;
}

i {
    margin: 3% 0 0 0;
}

a {
    margin: 0 2% 0 0;
}

h3 {
    margin: 0;
    padding: 0;
    color: #FFF;
}

.buscador {
    padding: 0 0 0 33%;
}

.cajon2 {
    text-align: center;
}

a {
    margin: 10px 10px;
    background-color: #fc7323;
}

.cajon3 {
    padding: 40px;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #fc7323;
}
/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid #fc7323;
	box-shadow: 0 1px 0 0 #fc7323;
}
/* label focus color */
.input-field input:focus + label {
	color: #fc7323;
}
/* valid color */
.input-field input.valid {
	border-bottom: 1px solid #001935;	
	box-shadow: 0 1px 0 0 #001935;	
}

.blue-sac {
	color: #001935;	
}