<div class="body-cont">
    <div class="container">
        <div class="row row-no">
            <div class="contain-signin" *ngIf="auth.isLoggedIn() | async">
                <!-- class="second-contain" -->
                <div class="col s12 buscador">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix blue-sac">textsms</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Autocomplete</label>
                        </div>
                    </div>
                </div>
                <div class="cajon2 ">
                    <a class="waves-effect waves-light btn orange-sac">Buscar</a>
                </div>
                <div class="cajon3 ">
                </div>
            </div>
        </div>
    </div>
</div>