.body-contain {
	background-color: rgb(240, 242, 245);
	margin: 0;
	padding: 0;
}
.contain-login {
	padding: 0 0 5% 0;
	margin: 0;
	background-color:#e3e6eb;

	border-radius: 2px;
}

.icon-account {
	background-color: #001935;
	margin:0 0 2% 0;
	padding: 2% 0 1%  0;
	text-align: center;
	border-radius: 2px;
}

.center {
	padding: 0 0 0 30%;

}
.pas {
	margin: 0 0 1% 0;
	padding: 0 0 0 33%;
}
.blue-sac {
	color: #001935;	
}

.orange-sac {
	background-color: #fc7323;
}

.con-row {
	margin: 0;
}
.sp {
	width: 100px;
}
.cont-sp {
	text-align: center;
	margin: 0;
	padding: 0;
}

i {
	margin: 2% 0 0 0;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #fc7323;
}
/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid #fc7323;
	box-shadow: 0 1px 0 0 #fc7323;
}
/* label focus color */
.input-field input:focus + label {
	color: #fc7323;
}
/* valid color */
.input-field input.valid {
	border-bottom: 1px solid #001935;	
	box-shadow: 0 1px 0 0 #001935;	
}

h3 {
	margin: 0;
	padding: 0;
	color: #FFF;
}

a {
	margin: 0 0 5px 0;
}
