<div class="menu-container row">
  <div class="menu-doc col s2">
    <ul class="row">
      <li class="col s12"><button class="menu-button-doc btn waves-effect waves-light orange-sac"
          (click)="createDoc()">Crear</button></li>
      <li class="col s12"><button class="menu-button-doc btn waves-effect waves-light orange-sac"
          (click)="saveDoc()">Guardar</button></li>
      <li class="col s12"><button class="menu-button-doc btn waves-effect waves-light orange-sac"
          (click)="exportActDocx()">Exportar Docx</button></li>
    </ul>

  </div>
  <div class="col s10 editor-container" *ngIf="auth.isLoggedIn() | async">
    <editor apiKey="6o8br645ls443y35hyve8zrpx9lfo9zqpvfca8ig4cz65ac7" [init]="{
    height: 575,
    menubar: false,
    plugins: [
      'print preview anchor',
      'fullscreen table',
      'paste help'
    ],
    toolbar:
      'undo redo | bold italic | help',
    table_resize_bars: false,
    table_toolbar: 'tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'
  }" (onSelectionChange)="editorContent($event)" id="text-editor"></editor>
  </div>
</div>