<div class="container">
  <div class="row">
    <div class="contain-myprofile gray-sac" *ngIf="auth.isLoggedIn() | async">
      <!-- class="second-contain" -->
      <h2 class="center">Datos personales<button type="submit" (click)="onButtonClick()" >
        <i class="material-icons">create</i>
      </button></h2>
      <form [formGroup]="myprofile" >
        <div class="row center">
          <div class="col s4">
            <h6>
              Nombres<button type="submit">
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" formControlName="name_u"  [disabled]="click"/>
            <h6>
              Celular/Ext.SENA<button id="phone">
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" [disabled]="click" />
            <h6>
              Centro<button id="center">
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" formControlName="center_u" />
            <div class="left-align boton">
              <a
                class="waves-effect waves-light btn gray-sac subBtn"
                routerLink="/home"
                >Cambiar Contraseña</a
              >
            </div>
          </div>
          <div class="col s4">
            <h6>
              Apellidos<button id="lastname">
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" formControlName="lastname_u" />
            <h6>
              Regional<button id="regional">
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" formControlName="regional_u" />
            <h6>
              Tipo<button><i class="material-icons">create</i></button>
            </h6>
            <input type="text" formControlName="bonding_type" />
          </div>
          <div class="col s4">
            <h6>
              Ciudad de residencia<button>
                <i class="material-icons">create</i>
              </button>
            </h6>
            <input type="text" formControlName="city_u" />
          </div>
        </div>
        <div class="center-align boton2">
          <button
            class="waves-effect waves-light btn orange-sac"
            type="submit"
            *ngIf="!stateSp"
          >
            Guardar
            <div *ngIf="!stateSp">Editar Perfil</div>
            <div class="cont-sp">
              <div class="preloader-wrapper small active" *ngIf="stateSp">
                <div
                  class="spinner-layer"
                  [ngStyle]="{ 'border-color': '#001935' }"
                >
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
