#menu-button {
    float: right;
    text-decoration: none;
    color: #FFF;
    margin: 2% 1%;
}

#contact-info {
    text-align: center;
}

.h-info {
    padding: 0;
    margin: 0;
}

.side-nav .collapsible-header {
    padding: 0 32px;
}
