<ul id="slide-out" class="side-nav">
    <li><a class="waves-effect" (click)="logout()"><i class="material-icons">logout</i>Cerrar sesion</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" routerLink="/home"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" routerLink="/myprofile"><i class="material-icons">face</i>Mi Perfil</a></li>
    <li><a class="waves-effect" routerLink="/texteditor"><i class="material-icons">assignment</i>Actas</a></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect"><i class="material-icons">contact_page</i>Contacto TEAM-DEV</a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <div id="contact-info">
                                <a class="h-info">horologium@protonmail.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse" id="menu-button"><i class="material-icons"
        *ngIf="auth.isLoggedIn() | async">menu</i></a>