<div class="cont-body">
  <div class="container">
    <div class="row row-ne">
      <div class="container" *ngIf="!(auth.isLoggedIn() | async)">
        <div class="info-edit">
          <h4 class="edit">Complete su perfil</h4>
          <p>Asi podremos autocompletar informacion al construir sus actas.</p>
        </div>
        <div>
          <form class="col s12 contain-edit" [formGroup]="editprofile" (ngSubmit)="onSubmit()">
            <div class="row row-ne">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">face</i>
                <input formControlName="name_u" type="text" class="validate" />
                <label for="name_u">Nombres</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">face</i>
                <input formControlName="lastname_u" type="text" class="validate" />
                <label for="lastname_u">Apellidos</label>
              </div>
            </div>
            <div class="row row-ne seco">
              <div class="input-field col s6">
                <i class="material-icons prefix blue-sac">call</i>
                <input formControlName="phone_u" type="tel" class="validate" />
                <label for="phone_u">Celular/Ext. SENA</label>
              </div>
              <div class="viin">
                <p class="title-vin">Tipo de vinculación</p>
              </div>
              <div class="col s6 vinculacion">
                <p class="opt">
                  <input class="with-gap" formControlName="bonding_type" name="bonding_type" value=1 type="radio"
                    id="plant" />
                  <label for="plant">Planta</label>
                </p>
                <p class="opt">
                  <input class="with-gap" formControlName="bonding_type" name="bonding_type" value=2 type="radio"
                    id="contra" />
                  <label for="contra">Contratista</label>
                </p>
              </div>
            </div>
            <div class="row row-ne seco">
              <i class="material-icons left blue-sac ban">flag</i>
              <div class="input-field col s5 howa">
                <select id="feedingHay" >
                  <option value="" disabled selected>Seleccion su regional</option>
                  <option value="Quindio">Quindio</option>
                </select>
                <label>Regional</label>
              </div>
              <i class="material-icons left blue-sac doma">domain</i>
              <div class="input-field col s5 howa">
                <select formControlName="center_u">
                  <option value="" disabled selected>Seleccion su centro</option>
                  <option value="Centro de comercio y turismo">Centro de comercio</option>
                </select>
                <label>Centro</label>
              </div>
              <i class="material-icons left blue-sac doma">domain</i>
              <div class="input-field col s5 howa">
                <select formControlName="city_u">
                  <option value="" disabled selected>Seleccion su ciudad</option>
                  <option value="Armenia">Armenia</option>
                </select>
                <label>Ciudad</label>
              </div>
            </div>
            <div class="center-align boton1">
              <button class="waves-effect waves-light btn orange-sac" type="submit">Guardar</button>
              <button id="menu-button" routerLink="/login"><i class="material-icons">cancel</i><br>Cancelar</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>